body {
    margin: 0;
    padding: 0;
    font-family: 'GothamBook', sans-serif;
}
input:active,
input:focus,
button:active,
button:focus {
    outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.max-width {
    width: 100%;
}

/* CONTROLS BLOCK */
.controls-block {
    position: relative;
    height: 50px;
    margin: 25px;
    display: flex;
    -moz-user-select: text;
    -webkit-user-select: none;
}

/* TABLES */
.table-block {
    padding: 25px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #f6f0f0;
    margin: 0 25px;
}
.table-block tbody tr:nth-child(2n+1) {
    background-color: #fbfbfd;
}
.table-block .table-header-span {
    font-size: 18px;
    color: #868ea3;
    font-family: 'GothamMedium', sans-serif;
}
.table-block .table-body-span {
    font-size: 16px;
    color: #687083;
    font-family: 'GothamBook', sans-serif;
}
.table-block .particular-item-control{
    opacity: 0.6;
    transition: 0.3s;
}
.table-block .particular-item-control:hover {
    cursor: pointer;
    opacity: 1;
}
.table-block .table-body-span.actions {
    display: flex;
    justify-content: center;
}